{% load widget_tweaks %}
<!-- CREATE RULE FORM -->
<div class="well">
    {% include 'wga/user/game/instructions.html' with game_context='Create Rule' %}
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><b>IF</b></span>
            {% render_field form.antecedent class="form-control" %}
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><b>THEN</b></span>
            {% render_field form.consequent class="form-control" %}
        </div>
    </div>
</div>
